<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Gasto</title>
</head>
<body>
    <h1>Crear Nuevo Gasto</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion"><br>
        <label for="monto">Monto:</label><br>
        <input type="text" id="monto" name="monto"><br>
        <label for="fecha">Fecha:</label><br>
        <input type="date" id="fecha" name="fecha"><br>
        <label for="categoria">Categoría:</label><br>
        <input type="text" id="categoria" name="categoria"><br><br>
        <button type="submit">Crear Gasto</button>
    </form>
</body>
</html>
